{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<h2>Gene Fusion Curation</h2>

<p>
  <button id="clear-button">clear</button>
</p>

<div id="div-chimeric" style="display:contents">
  <p><label for="chimeric">Does the fusion create a chimeric transcript?</label>
    <select name="chimeric" id="select-chimeric" autocomplete="off">
      <option></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </p>
</div>

<div id="div-rearrange" style="display:none">
  <p><label for="rearrange">Does fusion rearrange near regulatory element?</label>
    <select name="rearrange" id="select-rearrange" autocomplete="off">
      <option></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </p>
</div>

<div id="div-protein-coding" style="display:none">
  <p><label for="protein-coding">Is at least one partner protein coding?</label>
    <select name="protein-coding" id="select-protein-coding" autocomplete="off">
      <option></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="unknown">Unknown</option>
    </select>
  </p>
</div>

<div id="div-rf-preserved" style="display:none">
  <p><label for="rf-preserved">Is the reading frame predicted to be preserved?</label>
    <select name="rf-preserved" id="select-rf-preserved" autocomplete="off">
      <option></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </p>
</div>

<div id="div-preserved-domains" style="display:none">
  <p>
    <label for="preserved-domains">Record any predicted meaningful protein functional domains preserved</label>
    <input type="text" name="preserved-domains" id="input-preserved-domains">
    <label for="preserved-genes">Record associated genes:</label>
    <input type="text" name="preserved-genes" id="input-preserved-genes">
  </p>
</div>

<div id="div-causative" style="display:none">
  <p>Record chimeric transcript junctions and associated genes:</p>
  <p>
    <label for="5_prime_tr">5 prime end transcript:</label>
    <input type="text" name="5_prime_tr" id="input-5-prime-tr">
  </p>
  <p>
    <label for="5_prime_ex">5 prime end exon number:</label>
    <input type="text" name="5_prime_ex" id="input-5-prime-ex">
  </p>
  <p>
    <label for="5_prime_gene">5 prime end gene:</label>
    <input type="text" name="5_prime_gene" id="input-5-prime-gene">
  </p>
  <p>
    <label for="5_prime_chr">5 prime end chromosome:</label>
    <input type="text" name="5_prime_chr" id="input-5-prime-chr">
  </p>
  <p>
    <label for="5_prime_pos">5 prime end position:</label>
    <input type="text" name="5_prime_pos" id="input-5-prime-pos">
  </p>
  <p>
    <label for="3_prime_tr">3 prime end transcript:</label>
    <input type="text" name="3_prime_tr" id="input-3-prime-tr">
  </p>
  <p>
    <label for="3_prime_ex">3 prime end exon number:</label>
    <input type="text" name="3_prime_ex" id="input-3-prime-ex">
  </p>
  <p>
    <label for="3_prime_gene">3 prime end gene:</label>
    <input type="text" name="3_prime_gene" id="input-3-prime-gene">
  </p>
  <p>
    <label for="3_prime_chr">3 prime end chromosome:</label>
    <input type="text" name="3_prime_chr" id="input-3-prime-chr">
  </p>
  <p>
    <label for="3_prime_pos">3 prime end position:</label>
    <input type="text" name="3_prime_pos" id="input-3-prime-pos">
  </p>

  <p><label for="causative-event">Is causative event known?</label>
    <select name="causative-event" id="select-causative" autocomplete="off">
      <option></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </p>
</div>

<div id="event-type-group" style="display:none">
  <div id="div-event-type">
    <p><label for="event-type">Select event type: </label>
      <select name="event-type" id="select-event-type" autocomplete="off">
        <option></option>
        <option value="rearrangement">Rearrangement</option>
        <option value="read-through">Read-through</option>
        <option value="trans-splicing">Trans-splicing</option>
      </select>
    </p>
  </div>

  <div id="div-sv">
    <p>
      <label for="sv">Record structural variant information: </label>
      <input type="text" name="sv" id="input-sv">
    </p>
  </div>
</div>

  <div id="div-also-rearrange" style="display: none;">
    <p><label for="also-rearrange">Does fusion also rearrange near another regulatory element?</label>
      <select name="also-rearrange" id="select-also-rearrange" autocomplete="off">
        <option></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </p>
  </div>

<div id="div-record-reg" style="display: none;">
  <p>
    <label for="reg-type">Record regulatory element type(s) and associated gene(s)</label>
    <input type="text" name="reg-type" id="input-reg-type">
  </p>
</div>

<div id="div-submit-button" style="display: none;">
  <p>
    <button id="submit-button">submit</button>
  </p>
</div>

<div id="div-response-json" style="display: none;">
  <p>JSON:</p>
  <textarea id="response-json-box" rows="6" cols="50" readonly></textarea>
</div>

<div id="div-response-hgvs" style="display: none;">
  <p>HGVS:</p>
  <textarea id="response-hgvs-box" cols="50" readonly></textarea>
</div>

<div id="div-not-fusion" style="display: none;">
  <p>not a fusion</p>
</div>

<script src="{{ url_for('static', filename='entry.js') }}"></script>

{% endblock %}