.builder {
  display: flex;
  align-items: stretch;
  background: #F5F5FA;
  flex: 1;
}

.block-container {
  text-align: center;
  flex: 1;
  overflow: scroll;
}

.block {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  padding: 10px;
  margin: 0 50px 15px 50px;
	font-size: 18px;
	border-radius: 5px;
}

h3 {
  text-align: center;
  font-weight: 500;
}

.options {
  background-color: darkgray;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-item {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  padding: 10px;
  margin: 0 50px 15px 50px;
	font-size: 18px;
	border-radius: 5px;

  .gene-component {
    border: 2px solid #bbfafa !important;
    color: #757575;
    font-weight: 500
  }
  
  .transcript-component{
    border: 2px solid #fcfcc0 !important;
    color: #757575;
    font-weight: 500
  }
  
  .linker-sequence {
    border: 2px solid #fcbaf1 !important;
    color: #757575;
    font-weight: 500
  }
  
  .genomic-region {
    border: 2px solid #e1e1fc !important;
    color: #757575;
    font-weight: 500
  }
}

.gene-component {
  background:#79FFFF;
}

.transcript-component{
  background-color: #FEFF91;
}

.linker-sequence {
  background-color: #FF94FF;
}

.genomic-region {
  background-color: #CCCCFF;
}



.card-parent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input-parent {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.top-inputs {
  display: flex;
  justify-content: space-between;
}

.bottom-inputs {
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}