.options {
  min-height: 370px;
  text-align: center;
}

.comps {
  min-height: 370px;
  text-align: center;
}

.structure-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5FA;
}

h3 {
  text-align: center;
  font-weight: 500;
}


.options {
  .gene-component {
    background:#79FFFF;
    border: 2px solid #bbfafa !important;
    color: #757575;
    font-weight: 500
  }
  
  .transcript-component{

    background:#FEFF91;
    border: 2px solid #fcfcc0 !important;
    color: #757575;
    font-weight: 500
  }
  
  .linker-sequence {

    background:#FF94FF;
    border: 2px solid #fcbaf1 !important;
    color: #757575;
    font-weight: 500
  }
  
  .genomic-region {

    background:#CCCCFF;
    border: 2px solid #e1e1fc !important;
    color: #757575;
    font-weight: 500
  }
  
}

.gene-component {
  background:#79FFFF;
}

.transcript-component{
  background-color: #FEFF91;
}

.linker-sequence {
  background-color: #FF94FF;
}

.genomic-region {
  background-color: #CCCCFF;
}



.card-parent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input-parent {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.top-inputs {
  display: flex;
  justify-content: space-between;
}

.bottom-inputs {
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  font-weight: 300;
}