# Ignore xlsx temp file
\~*

# Ignore system files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# allow pytest override with pytest.ini
pytest.ini

# ignore data dir
data/*
therapy/data/

# IDE stuff
.idea/
.vim/
*.swp
.vscode/

# DynamoDB Local
dynamodb_local_latest/*

# Build files
Pipfile.lock
pyproject.toml

# client-side things
curation/client/node_modules
curation/client/.pnp
.pnp.js
curation/client/coverage
curation/client/build
.env.local
.env.development.local
.env.test.local
.end.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/public/
frontend/node_modules
node_modules/

# Data
curation/data
package-lock.json
client/package-lock.json
client/package-lock.json
package-lock.json
package-lock.json
clientold copy/package.json
clientold copy/public/favicon.ico
clientold copy/public/index.html
clientold copy/public/logo192.png
clientold copy/public/logo512.png
clientold copy/public/manifest.json
clientold copy/public/robots.txt
clientold copy/README.md
clientold copy/src/components/pages/Domains/Main/Close.tsx
clientold copy/src/components/pages/Domains/Main/Domain.scss
clientold copy/src/components/pages/Domains/Main/Domain.tsx
clientold copy/src/components/pages/Gene/Gene/Gene.scss
clientold copy/src/components/pages/Gene/Gene/Gene.tsx
clientold copy/src/components/pages/Gene/GeneResults/GeneResults.scss
clientold copy/src/components/pages/Gene/GeneResults/GeneResults.tsx
clientold copy/src/components/pages/Gene/GeneSearch/Close.tsx
clientold copy/src/components/pages/Gene/GeneSearch/GeneSearch.scss
clientold copy/src/components/pages/Gene/GeneSearch/GeneSearch.tsx
clientold copy/src/components/pages/Gene/StructureDiagram/StructureDiagram.scss
clientold copy/src/components/pages/Gene/StructureDiagram/StructureDiagram.tsx
clientold copy/src/components/pages/RegElement/RegElement/RegElement.scss
clientold copy/src/components/pages/RegElement/RegElement/RegElement.tsx
clientold copy/src/components/pages/RegElement/RegElementForm/RegElementForm.scss
clientold copy/src/components/pages/RegElement/RegElementForm/RegElementForm.tsx
clientold copy/src/components/pages/Structure/Structure/Structure.scss
clientold copy/src/components/pages/Structure/Structure/Structure.tsx
clientold copy/src/components/pages/Structure/StructureForm/StructureForm.scss
clientold copy/src/components/pages/Structure/StructureForm/StructureForm.tsx
clientold copy/src/components/pages/Structure/StructureInput/StructureInput.scss
clientold copy/src/components/pages/Structure/StructureInput/StructureInput.tsx
clientold copy/src/components/pages/Summary/Main/arrow-go-back-svgrepo-com.svg
clientold copy/src/components/pages/Summary/Main/Go.tsx
clientold copy/src/components/pages/Summary/Main/Summary.scss
clientold copy/src/components/pages/Summary/Main/Summary.tsx
clientold copy/src/components/shared/App/App.scss
clientold copy/src/components/shared/App/App.tsx
clientold copy/src/components/shared/NavTabs/NavTabs.scss
clientold copy/src/components/shared/NavTabs/NavTabs.tsx
clientold copy/src/contexts/GeneContext.tsx
clientold copy/src/contexts/ResponsesContext.tsx
clientold copy/src/contexts/StructureContext.tsx
clientold copy/src/global/styles/global.scss
clientold copy/src/global/styles/theme.ts
clientold copy/src/index.tsx
clientold copy/src/react-app-env.d.ts
clientold copy/tsconfig.json
clientold copy/yarn.lock
package-lock.json
