[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiofiles = "*"
asyncpg = "*"
"biocommons.seqrepo" = "*"
gene-normalizer = "==0.1.19"
boto3 = "*"
fusor = "*"

[dev-packages]
fusion-curation = {editable = true, path = "."}
pytest = "*"
coverage = "*"
pytest-cov = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coveralls = "*"
jupyterlab = "*"
