[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gene-normalizer = ">=0.1.11"
boto3 = "*"
psycopg2 = "*"
"biocommons.seqrepo" = "*"
fusor = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
pytest-cov = "*"
fusion-curation = {editable = true, path = "."}
coveralls = "*"
jupyterlab = "*"
