.success-confirmation {
  height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  h2 {
    font-weight: normal;
    margin: 0;
  }
  h4 {
    font-weight: lighter;
    margin: 0;
  }
}

.check-container {
}
