.utilities-nav-tabs {
  background-color: var(--white);
}

.utilities-tab-panel {
  min-height: 40vh;
  margin: 1em 2em 0 2em;
}

.previous {
  padding: 1em 2em;
}

.footer {
  justify-content: space-between;
}
