@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

}

html {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  min-height: 100vh;;
}

.wrapper {
  min-height: 100vh;
}
