container_commands:
    01_export_eb_env_var:
        test: test ! -d "./curation/data/seqrepo"
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

    02_install_awscli:
        command: "yum install -y awscli"

    03_install_unzip:
        test: test ! -d "./curation/data/seqrepo"
        command: "yum install -y unzip"

    04_s3_download:
        test: test ! -d "/usr/local/share/seqrepo"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} /usr/local/share/seqrepo.zip --region us-east-2"

    05_unzip_seqrepo:
        test: test -f "/usr/local/share/seqrepo.zip"
        command: "unzip /usr/local/share/seqrepo.zip -d /usr/local/share"

    06_seqrepo_permission:
        test: test -d "/usr/local/share/seqrepo"
        command: "chmod -R 777 /usr/local/share/seqrepo"

    07_macosx_permission:
        test: test -d "/usr/local/share/__MACOSX"
        command: "chmod -R +wr /usr/local/share/__MACOSX"

    08_seqrepo_zip_permission:
        test: test -f "/usr/local/share/seqrepo.zip"
        command: "chmod +wr /usr/local/share/seqrepo.zip"

    09_remove_macosx:
        test: test -d "/usr/local/share/__MACOSX"
        command: "rm -R /usr/local/share/__MACOSX"

    10_remove_seqrepo_zip:
        test: test -f "/usr/local/share/seqrepo.zip"
        command: "rm /usr/local/share/seqrepo.zip"

    11_data_permission:
        test: test -d "/usr/local/share/seqrepo"
        command: "chmod -R +wrx /usr/local/share/seqrepo"

    12_install_server_requirements:
        command: "/var/app/venv/staging-LQM1lest/bin/pip install -r requirements.txt"

    13_uta_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/uta_tools/data"
        command: "chmod -R 777 /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/uta_tools/data"

