

.gene-results {
  background-color: #F5F5FA;
  // padding: 15px 0 50px 0;
}

h1 {
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size:large;
}

