.form-container {
  display: flex;
  flex-direction: column;

  .close-button-reg {
    margin-left: 38px;
    margin-top: -3px;
    position: absolute;
  }

  .formInput {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .regel {
    margin-top: 20px;
    width: 34%;
    font-size: medium;
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-left: -35px;
    border-radius: 7px;
  }

  .regel-buttons {
    align-self: flex-end;
    margin-right: 85px;
  }

  .regel-delete-button {
    margin-right: 10px;
  }
}
