%app {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
}

.app-main {
  @extend %app;
  background: linear-gradient(
    45deg,
    var(--gradient-1) 30%,
    var(--gradient-2) 90%
  );
}

.app-utils {
  @extend %app;
  background: linear-gradient(
    45deg,
    var(--gradient-1) 40%,
    var(--gradient-3) 130%
  );
}

.main-component {
  flex-grow: 1;
  margin-top: 75px;
}

.menu-container {
  margin: 1em;
}

h2 {
  font-weight: normal;
}

h3 {
  margin-top: 15px;
}

.menu-drawer {
  .MuiDrawer-paper {
    width: 225px;
    overflow-x: hidden !important;
  }
}

.menu-link {
  font-size: 15px;
}
