%app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app-main {
  @extend %app;
  background: linear-gradient(
    45deg,
    var(--gradient-1) 30%,
    var(--gradient-2) 90%
  );
}

.app-utils {
  @extend %app;
  background: linear-gradient(
    45deg,
    var(--gradient-1) 40%,
    var(--gradient-3) 130%
  );
}

.title {
  margin-left: 1em;
  width: 100%;
  justify-content: space-between;
  display: flex;
  color: var(--white);
  font-weight: normal;
}

.main-component {
  flex-grow: 1;
  margin: 0 1em 0 1em;
}

.menu-container {
  margin: 1em;
}

h2 {
  font-weight: normal;
}
