[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.72.0"
aiofiles = "*"
asyncpg = "*"
"biocommons.seqrepo" = "*"
gene-normalizer = ">=0.1.23"
boto3 = "*"
fusor = ">=0.0.14"
uta-tools = ">=0.0.8"
websockets = ">=9.1"
uvloop = "*"
httptools = "*"
urllib3 = ">=1.26.5"
click = "*"
sqlparse = ">=0.4.2"

[dev-packages]
fusion-curation = {editable = true, path = "."}
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
coverage = "*"
pytest-cov = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coveralls = "*"
pydantic-to-typescript = "*"
black = "*"
