.get-sequence-ids-tab-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .top {
    height: 30%;
    width: 100%;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    height: 70%;
  }
}
