.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  min-height: 35vh;
}

.tab-panel {
  margin: 1em 2em 0 2em;
  width: 100%;
}

.tabs {
  width: 100%;
}

.continue {
  padding: 1em 2em;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white);
  justify-content: flex-end;
}

.with-prev {
  justify-content: space-between;
}
