.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  min-height: 60vh;
}

.tab-panel {
  min-height: 65vh;
  margin: 1em 2em 0 2em;
  width: 100%;
}

.tabs {
  max-height: 50px;
  width: 100%;
}

.buttons {
  padding: 1em 2em;
  justify-content: space-between;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  padding-top: 1em;
  display: flex;
  align-items: center;
  background-color: var(--white);
  justify-content: flex-end;
}

.with-prev {
  justify-content: space-between;
}
