
.gn {
  background-color: pink;
  width: 200px;
}
.tc {
  background-color: red;
  width: 100px;
}
.ls {
  background-color: blue;
  width: 70px;
}
.gr {
  background-color: green;
  width: 70px;
}



.structure {
  padding: 5px;
  display: inline-block;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  width: 500px;
  border: 1px solid black;
  margin: 10px;
}

