.gn {
  background-color: pink;
  display: inline-block;
  width: 200px;
}
.tc {
  background-color: red;
  display: inline-block;
  width: 200px;
}
.ls {
  background-color: blue;
  display: inline-block;
  width: 200px;
}
.gr {
  background-color: green;
  display: inline-block;
  width: 200px;
}

