.gn {
  background-color: #79FFFF;
  width: 200px;
}
.tc {
  background-color: #FEFF91;
  width: 100px;
}
.ls {
  background-color: #FF94FF;
  width: 70px;
}
.gr {
  background-color: #CCCCFF;
  width: 70px;
}


.structure {
  padding: 5px;
  display: inline-block;
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 5px;
  cursor: pointer;
}

